### Order Service Configuration ###
app:
  name: order-service
  order-events-exchange: orders-exchange
  new-orders-queue: new-orders
  delivered-orders-queue: delivered-orders
  cancelled-orders-queue: cancelled-orders
  error-orders-queue: error-orders

server:
  port: 8082
  shutdown: graceful

spring:
  application:
    name: order-service
  ### Database Configuration ###
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:25432/order_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    open-in-view: false
    show-sql: true
  ### RabbitMQ Configuration ###
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

### Actuator Configuration ###
management:
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    enabled: false
    sampling:
      probability: 1

### Swagger Config ###

### OAuth2 Config ###

